.App {
  text-align: center;
 
}

.app-body{
  display: flex;
  flex-wrap: wrap;
}

.country-flag{
  width: 18rem;
  max-height: 12rem;
}

.country-card{
  margin: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  max-width: 20%;
}

.country-card:hover {
  box-shadow: 0 4px 8px 0 #92a8d1, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left-style: solid;
  border-left-color: #f00028;
}


.country-flag{
  max-width: 100%;
}

.country-info{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}
