:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --elements-color: hsl(0, 0%, 100%)
 }

.root{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.titleText{
  font-weight: bold;
  margin-left: 5vw;
}

.darkMode{
  cursor: pointer;
  margin-right: 5vw;
  border: 1px solid black;
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
}

.nav{
  position: fixed;
  top: 0;
  width: 95%;
  background-color: var(--elements-color);
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  margin-top: 1px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px 2px #d1cece;
  height: 50px;
}

.app-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchCountry{
  margin-top: 4rem
}

.country-input, .select-box {
  border-radius: 9px;
  border: 2px solid rgb(0, 0, 20);
  margin: 20px 20px;
  width: 150px;
  padding: 10px;
}

.country-flag{
  width: 18rem;
  max-height: 12rem;
  margin-top: 7px;
}

.country-card{
  margin: 20px;
  width: 285px;
  box-shadow: 2px 2px 3px 2px #d1cece;
  min-width: 20%;
  border-radius: 10px;
}

.country-card:hover {
  box-shadow: 0 4px 8px 0 #92a8d1, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left-style: solid;
  border-left-color: #f139e2;
}

.country-flag{
  max-width: 100%;
}

.country-info{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}
